---
import Experience from '../components/Experience.astro';
import Project from '../components/Project.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import Footer from '../components/Footer.astro';

const experiences = await getCollection('experiences');
const projects = await getCollection('projects');

---

<Layout title="Seth Whitehorn">
	<main>
		<h1 class="font-bold text-xl">Seth Whitehorn</h1>
		<p class="opening para">
			Hi, I'm <strong>Seth</strong>. I'm a <strong>full-stack engineer </strong>with experience working in fast-moving, product-focused environments.
		</p>
		<p class="para">
			I'm currently looking for full-stack or frontend roles where I can work with emerging technology and learn from great people.
		</p>
		<div class="my-8">
			<h2 class="font-bold text-xl my-5">Experience</h2>
			<ul role="list" class="link-card-grid">
			{experiences.map(async e => {
				const { title, link } = e.data
				const { Content } = await e.render();
				return (
					<Experience title={title} link={link} >
						<Content class="font-bold"/>	
					</Experience>
				)
			})}
		</ul>
		</div>
		<div class="my-8">
			<h2 class="font-bold text-xl my-5">Projects</h2>
			<ul role="list" class="link-card-grid">
			{projects.map(async e => {
				const { title, link, tags } = e.data
				const { Content } = await e.render();
				return (
					<Project title={title} link={link} tags={tags}>
						<Content class="font-bold"/>	
					</Project>
				)
			})}
			</ul>
		</div>
		<div class="contact">
			<Footer />
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.opening {
		margin: 1rem 0 0;
	}
	.para {
		line-height: 1.6;
		padding: 1rem 0 0;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		gap: 1rem;
		padding: 0;
	}
	.contact {
		border-top: 1px solid #78716c
	}
</style>
